<div class="row">
  <div class="col-med-4"></div>
  <div class="col-med-8">
    <h2 class="text-center" id="welcome">Welcome, {{name}}!</h2>
  </div>
  <div class="col-med-4"></div>
</div>

{{#if blogs.length}}
<div class="row">
  <div class="blog-list">
    <h3 class="text-center" id="ind-blogs">Your Blogs:</h3>
    <h5 class="text-center" id="instructions">**Click on a blog's title to go to the blog's page and read comments left
      by other users!**</h5>
  </div>
</div>
{{#each blogs as |blog|}}
<div class="card text-center">
  <div class="card-header"></div>
  <div class="card-body blog-list">
    <h5 class="card-title"><a href="/blog/{{blog.id}}">{{blog.name}}</a></h5>
    <p class="card-text">{{blog.content}}</p>
    <button class="btn btn-sm btn-danger blogs-list" data-id={{blog.id}}>DELETE</button>
  </div>
  <div class="card-footer text-muted">
    created: {{format_date blog.date_created}}
  </div>
</div>
{{/each}}
</div>
{{/if}}
</div>

<div class="card text-center" id="create-form">
  <div class="card-header" id="createBlog">
    Create a new Tech Blog!
  </div>
  <div class="card-body">
    <form class="form new-blog-form">
      <div class="card text-center" id="create-form-card">
        <label for="blog-name" class="sr-only">Blog name:</label>
        <input type="text" id="blog-name" class="form-control" placeholder="Blog name" required autofocus>
        <label for="blog-content" class="sr-only">Content:</label>
        <input type="text" id="blog-content" class="form-input" placeholder="Content"required autofocus>
        <br>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>

      </div>
    </form>


  </div>
</div>

  <script src="/js/blog.js"></script>