<div class="row">
  <div class="col-med-4"></div>
  <div class="col-med-8">
    <h2>Welcome, {{name}}!</h2>
  </div>
  <div class="col-med-4"></div>
</div>

{{#if blogs.length}}
<div class=row>
<div class="col-med-4"></div>
<div class="col-md-8 blog-list">
  <h3>{{name}}'s Blogs:</h3>
  <h5>**Click on a blog's title to go to the blog's page and read comments left by other users!**</h5>
  <div class="col-md-4"></div>
</div>
</div>
{{#each blogs as |blog|}}
<div class="card text-center">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5 class="card-title"><a href="/blog/{{blog.id}}">{{blog.name}}</a></h5>
    <p class="card-text">{{blog.content}}</p>
    <button class="btn btn-sm btn-danger" data-id={{blog.id}}>DELETE</button>
  </div>
  <div class="card-footer text-muted">
    created: {{format_date blog.date_created}}
  </div>
</div>
{{/each}}
</div>
{{/if}}
</div>

<div class="card text-center">
  <div class="card-header" id="createBlog">
    Create a new Tech Blog!
  </div>
  <div class="card-body">
    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-name">blog name:</label>
        <input class="form-input" type="text" id="blog-name" name="blog-name" />
      </div>
     <div class="form-group">
        <label for="blog-content">content:</label>
        <textarea class="form-input" id="blog-content" name="blog-content"></textarea>
      </div>
    <button type="submit" class="btn btn-primary">CREATE</button>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>


  </div>

  <script src="./js/blog.js"></script>